@import "Tailwindcss";


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 100;

}
.animate-start {
  animation: carouselStart 1s ease-in;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.custom-text-sm {
  font-size: 10px;
}
.text-xss {
  font-size: 10px;
}
@keyframes carouselStart {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 500px) {
  .custom-media-w-250 {
    width: 250px !important;
  }
}
@media screen and (max-width: 600px) {
    .custom-media-w-400 {
    width: 400px;
  }
}
@media screen and (max-width: 465px) {
  .media-screen-460-hidden {
    display: none;
  }
  .media-screen-460-show {
    display: block;
  }
}