@import "Tailwindcss";

.cek {
  justify-content: space-between;
}
.animate-start {
  animation: carouselStart 1s ease-in;
}
@keyframes carouselStart {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 500px) {
  .custom-media-w-300 {
    width: 300px !important;
  }
}
@media screen and (max-width: 600px) {
    .custom-media-w-400 {
    width: 400px;
  }
}